@import "tailwindcss";
@plugin "daisyui";


.border-line{
    border: solid 1px lightgray;
}

.active-link {
    background-color: #632EE3; 
    color: white; 
    border-bottom: 2px solid #632EE3; 
}

.inactive-link {
    color: #333; 
    
}